{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "DOCUMENTATION",
    "description": "",
    "termsOfService": "YOUR_TERMS_OF_SERVICE_URL",
    "contact": {
      "name": "TEAM",
      "email": "contact-email@something.io",
      "url": "mywebsite.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-generation-date": "2023-09-07T06:20:59.932Z"
  },
  "x-strapi-config": {
    "path": "/documentation",
    "plugins": [
      "upload",
      "users-permissions"
    ]
  },
  "servers": [
    {
      "url": "https://cms.bookinghms.com/api",
      "description": "Development server"
    }
  ],
  "externalDocs": {
    "description": "Find out more",
    "url": "https://docs.strapi.io/developer-docs/latest/getting-started/introduction.html"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "status": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object"
              }
            }
          }
        }
      },
      "AboutPageLocalizationRequest": {
        "required": [
          "locale"
        ],
        "type": "object",
        "properties": {
          "hero": {
            "$ref": "#/components/schemas/PageHeroComponent"
          },
          "ziczacComponent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryZiczacComponent"
            }
          },
          "sectionBanner": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "example": "string or id"
          },
          "ourCorporate": {
            "$ref": "#/components/schemas/InventoryCorporateComponent"
          },
          "ourVision": {
            "$ref": "#/components/schemas/InventoryContentTextOnlyComponent"
          },
          "ourValues": {
            "$ref": "#/components/schemas/InventoryContentTextOnlyComponent"
          },
          "locale": {
            "type": "string"
          }
        }
      },
      "AboutPageRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "hero": {
                "$ref": "#/components/schemas/PageHeroComponent"
              },
              "ziczacComponent": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryZiczacComponent"
                }
              },
              "sectionBanner": {
                "oneOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ],
                "example": "string or id"
              },
              "ourCorporate": {
                "$ref": "#/components/schemas/InventoryCorporateComponent"
              },
              "ourVision": {
                "$ref": "#/components/schemas/InventoryContentTextOnlyComponent"
              },
              "ourValues": {
                "$ref": "#/components/schemas/InventoryContentTextOnlyComponent"
              },
              "locale": {
                "type": "string"
              }
            }
          }
        }
      },
      "AboutPageResponseDataObjectLocalized": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/AboutPage"
          }
        }
      },
      "AboutPageLocalizationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AboutPageResponseDataObjectLocalized"
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "AboutPageListResponseDataItemLocalized": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/AboutPage"
          }
        }
      },
      "AboutPageLocalizationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AboutPageListResponseDataItemLocalized"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "pagination": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer",
                    "minimum": 25
                  },
                  "pageCount": {
                    "type": "integer",
                    "maximum": 1
                  },
                  "total": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "AboutPageListResponseDataItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/AboutPage"
          }
        }
      },
      "AboutPageListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AboutPageListResponseDataItem"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "pagination": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer",
                    "minimum": 25
                  },
                  "pageCount": {
                    "type": "integer",
                    "maximum": 1
                  },
                  "total": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "AboutPage": {
        "type": "object",
        "properties": {
          "hero": {
            "$ref": "#/components/schemas/PageHeroComponent"
          },
          "ziczacComponent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryZiczacComponent"
            }
          },
          "sectionBanner": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "alternativeText": {
                        "type": "string"
                      },
                      "caption": {
                        "type": "string"
                      },
                      "width": {
                        "type": "integer"
                      },
                      "height": {
                        "type": "integer"
                      },
                      "formats": {},
                      "hash": {
                        "type": "string"
                      },
                      "ext": {
                        "type": "string"
                      },
                      "mime": {
                        "type": "string"
                      },
                      "size": {
                        "type": "number",
                        "format": "float"
                      },
                      "url": {
                        "type": "string"
                      },
                      "previewUrl": {
                        "type": "string"
                      },
                      "provider": {
                        "type": "string"
                      },
                      "provider_metadata": {},
                      "related": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "attributes": {
                                  "type": "object",
                                  "properties": {}
                                }
                              }
                            }
                          }
                        }
                      },
                      "folder": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      },
                      "folderPath": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      },
                      "updatedBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "ourCorporate": {
            "$ref": "#/components/schemas/InventoryCorporateComponent"
          },
          "ourVision": {
            "$ref": "#/components/schemas/InventoryContentTextOnlyComponent"
          },
          "ourValues": {
            "$ref": "#/components/schemas/InventoryContentTextOnlyComponent"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "updatedBy": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "localizations": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AboutPage"
                }
              }
            }
          },
          "locale": {
            "type": "string"
          }
        }
      },
      "AboutPageResponseDataObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/AboutPage"
          }
        }
      },
      "AboutPageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AboutPageResponseDataObject"
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "PageHeroComponent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "subtitle": {
            "type": "string"
          },
          "image": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "alternativeText": {
                        "type": "string"
                      },
                      "caption": {
                        "type": "string"
                      },
                      "width": {
                        "type": "integer"
                      },
                      "height": {
                        "type": "integer"
                      },
                      "formats": {},
                      "hash": {
                        "type": "string"
                      },
                      "ext": {
                        "type": "string"
                      },
                      "mime": {
                        "type": "string"
                      },
                      "size": {
                        "type": "number",
                        "format": "float"
                      },
                      "url": {
                        "type": "string"
                      },
                      "previewUrl": {
                        "type": "string"
                      },
                      "provider": {
                        "type": "string"
                      },
                      "provider_metadata": {},
                      "related": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "attributes": {
                                  "type": "object",
                                  "properties": {}
                                }
                              }
                            }
                          }
                        }
                      },
                      "folder": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "pathId": {
                                    "type": "integer"
                                  },
                                  "parent": {
                                    "type": "object",
                                    "properties": {
                                      "data": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "number"
                                          },
                                          "attributes": {
                                            "type": "object",
                                            "properties": {}
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "children": {
                                    "type": "object",
                                    "properties": {
                                      "data": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "number"
                                            },
                                            "attributes": {
                                              "type": "object",
                                              "properties": {}
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "files": {
                                    "type": "object",
                                    "properties": {
                                      "data": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "number"
                                            },
                                            "attributes": {
                                              "type": "object",
                                              "properties": {
                                                "name": {
                                                  "type": "string"
                                                },
                                                "alternativeText": {
                                                  "type": "string"
                                                },
                                                "caption": {
                                                  "type": "string"
                                                },
                                                "width": {
                                                  "type": "integer"
                                                },
                                                "height": {
                                                  "type": "integer"
                                                },
                                                "formats": {},
                                                "hash": {
                                                  "type": "string"
                                                },
                                                "ext": {
                                                  "type": "string"
                                                },
                                                "mime": {
                                                  "type": "string"
                                                },
                                                "size": {
                                                  "type": "number",
                                                  "format": "float"
                                                },
                                                "url": {
                                                  "type": "string"
                                                },
                                                "previewUrl": {
                                                  "type": "string"
                                                },
                                                "provider": {
                                                  "type": "string"
                                                },
                                                "provider_metadata": {},
                                                "related": {
                                                  "type": "object",
                                                  "properties": {
                                                    "data": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "number"
                                                          },
                                                          "attributes": {
                                                            "type": "object",
                                                            "properties": {}
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "folder": {
                                                  "type": "object",
                                                  "properties": {
                                                    "data": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "number"
                                                        },
                                                        "attributes": {
                                                          "type": "object",
                                                          "properties": {}
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "folderPath": {
                                                  "type": "string"
                                                },
                                                "createdAt": {
                                                  "type": "string",
                                                  "format": "date-time"
                                                },
                                                "updatedAt": {
                                                  "type": "string",
                                                  "format": "date-time"
                                                },
                                                "createdBy": {
                                                  "type": "object",
                                                  "properties": {
                                                    "data": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "number"
                                                        },
                                                        "attributes": {
                                                          "type": "object",
                                                          "properties": {
                                                            "firstname": {
                                                              "type": "string"
                                                            },
                                                            "lastname": {
                                                              "type": "string"
                                                            },
                                                            "username": {
                                                              "type": "string"
                                                            },
                                                            "email": {
                                                              "type": "string",
                                                              "format": "email"
                                                            },
                                                            "resetPasswordToken": {
                                                              "type": "string"
                                                            },
                                                            "registrationToken": {
                                                              "type": "string"
                                                            },
                                                            "isActive": {
                                                              "type": "boolean"
                                                            },
                                                            "roles": {
                                                              "type": "object",
                                                              "properties": {
                                                                "data": {
                                                                  "type": "array",
                                                                  "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                      "id": {
                                                                        "type": "number"
                                                                      },
                                                                      "attributes": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                          "name": {
                                                                            "type": "string"
                                                                          },
                                                                          "code": {
                                                                            "type": "string"
                                                                          },
                                                                          "description": {
                                                                            "type": "string"
                                                                          },
                                                                          "users": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "data": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                  "type": "object",
                                                                                  "properties": {
                                                                                    "id": {
                                                                                      "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                      "type": "object",
                                                                                      "properties": {}
                                                                                    }
                                                                                  }
                                                                                }
                                                                              }
                                                                            }
                                                                          },
                                                                          "permissions": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "data": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                  "type": "object",
                                                                                  "properties": {
                                                                                    "id": {
                                                                                      "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                      "type": "object",
                                                                                      "properties": {
                                                                                        "action": {
                                                                                          "type": "string"
                                                                                        },
                                                                                        "subject": {
                                                                                          "type": "string"
                                                                                        },
                                                                                        "properties": {},
                                                                                        "conditions": {},
                                                                                        "role": {
                                                                                          "type": "object",
                                                                                          "properties": {
                                                                                            "data": {
                                                                                              "type": "object",
                                                                                              "properties": {
                                                                                                "id": {
                                                                                                  "type": "number"
                                                                                                },
                                                                                                "attributes": {
                                                                                                  "type": "object",
                                                                                                  "properties": {}
                                                                                                }
                                                                                              }
                                                                                            }
                                                                                          }
                                                                                        },
                                                                                        "createdAt": {
                                                                                          "type": "string",
                                                                                          "format": "date-time"
                                                                                        },
                                                                                        "updatedAt": {
                                                                                          "type": "string",
                                                                                          "format": "date-time"
                                                                                        },
                                                                                        "createdBy": {
                                                                                          "type": "object",
                                                                                          "properties": {
                                                                                            "data": {
                                                                                              "type": "object",
                                                                                              "properties": {
                                                                                                "id": {
                                                                                                  "type": "number"
                                                                                                },
                                                                                                "attributes": {
                                                                                                  "type": "object",
                                                                                                  "properties": {}
                                                                                                }
                                                                                              }
                                                                                            }
                                                                                          }
                                                                                        },
                                                                                        "updatedBy": {
                                                                                          "type": "object",
                                                                                          "properties": {
                                                                                            "data": {
                                                                                              "type": "object",
                                                                                              "properties": {
                                                                                                "id": {
                                                                                                  "type": "number"
                                                                                                },
                                                                                                "attributes": {
                                                                                                  "type": "object",
                                                                                                  "properties": {}
                                                                                                }
                                                                                              }
                                                                                            }
                                                                                          }
                                                                                        }
                                                                                      }
                                                                                    }
                                                                                  }
                                                                                }
                                                                              }
                                                                            }
                                                                          },
                                                                          "createdAt": {
                                                                            "type": "string",
                                                                            "format": "date-time"
                                                                          },
                                                                          "updatedAt": {
                                                                            "type": "string",
                                                                            "format": "date-time"
                                                                          },
                                                                          "createdBy": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                  "id": {
                                                                                    "type": "number"
                                                                                  },
                                                                                  "attributes": {
                                                                                    "type": "object",
                                                                                    "properties": {}
                                                                                  }
                                                                                }
                                                                              }
                                                                            }
                                                                          },
                                                                          "updatedBy": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                  "id": {
                                                                                    "type": "number"
                                                                                  },
                                                                                  "attributes": {
                                                                                    "type": "object",
                                                                                    "properties": {}
                                                                                  }
                                                                                }
                                                                              }
                                                                            }
                                                                          }
                                                                        }
                                                                      }
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            },
                                                            "blocked": {
                                                              "type": "boolean"
                                                            },
                                                            "preferedLanguage": {
                                                              "type": "string"
                                                            },
                                                            "createdAt": {
                                                              "type": "string",
                                                              "format": "date-time"
                                                            },
                                                            "updatedAt": {
                                                              "type": "string",
                                                              "format": "date-time"
                                                            },
                                                            "createdBy": {
                                                              "type": "object",
                                                              "properties": {
                                                                "data": {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "id": {
                                                                      "type": "number"
                                                                    },
                                                                    "attributes": {
                                                                      "type": "object",
                                                                      "properties": {}
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            },
                                                            "updatedBy": {
                                                              "type": "object",
                                                              "properties": {
                                                                "data": {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "id": {
                                                                      "type": "number"
                                                                    },
                                                                    "attributes": {
                                                                      "type": "object",
                                                                      "properties": {}
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "updatedBy": {
                                                  "type": "object",
                                                  "properties": {
                                                    "data": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "number"
                                                        },
                                                        "attributes": {
                                                          "type": "object",
                                                          "properties": {}
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "path": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "createdBy": {
                                    "type": "object",
                                    "properties": {
                                      "data": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "number"
                                          },
                                          "attributes": {
                                            "type": "object",
                                            "properties": {}
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "updatedBy": {
                                    "type": "object",
                                    "properties": {
                                      "data": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "number"
                                          },
                                          "attributes": {
                                            "type": "object",
                                            "properties": {}
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "folderPath": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      },
                      "updatedBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InventoryZiczacComponent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "subtitle": {
            "type": "string"
          },
          "text1": {
            "type": "string"
          },
          "text2": {
            "type": "string"
          },
          "isTextFirst": {
            "type": "boolean"
          },
          "image": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "alternativeText": {
                        "type": "string"
                      },
                      "caption": {
                        "type": "string"
                      },
                      "width": {
                        "type": "integer"
                      },
                      "height": {
                        "type": "integer"
                      },
                      "formats": {},
                      "hash": {
                        "type": "string"
                      },
                      "ext": {
                        "type": "string"
                      },
                      "mime": {
                        "type": "string"
                      },
                      "size": {
                        "type": "number",
                        "format": "float"
                      },
                      "url": {
                        "type": "string"
                      },
                      "previewUrl": {
                        "type": "string"
                      },
                      "provider": {
                        "type": "string"
                      },
                      "provider_metadata": {},
                      "related": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "attributes": {
                                  "type": "object",
                                  "properties": {}
                                }
                              }
                            }
                          }
                        }
                      },
                      "folder": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      },
                      "folderPath": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      },
                      "updatedBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InventoryCorporateComponent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                },
                "cardTitle": {
                  "type": "string"
                },
                "cardSubtitle": {
                  "type": "string"
                },
                "cardContent": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "InventoryContentTextOnlyComponent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "subtitle": {
            "type": "string"
          },
          "text1": {
            "type": "string"
          },
          "text2": {
            "type": "string"
          }
        }
      },
      "BundleDetailPageLocalizationRequest": {
        "required": [
          "locale"
        ],
        "type": "object",
        "properties": {
          "bundleDetail": {
            "$ref": "#/components/schemas/SharedBundleDetailComponent"
          },
          "locale": {
            "type": "string"
          }
        }
      },
      "BundleDetailPageRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "bundleDetail": {
                "$ref": "#/components/schemas/SharedBundleDetailComponent"
              },
              "locale": {
                "type": "string"
              }
            }
          }
        }
      },
      "BundleDetailPageResponseDataObjectLocalized": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/BundleDetailPage"
          }
        }
      },
      "BundleDetailPageLocalizationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BundleDetailPageResponseDataObjectLocalized"
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "BundleDetailPageListResponseDataItemLocalized": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/BundleDetailPage"
          }
        }
      },
      "BundleDetailPageLocalizationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleDetailPageListResponseDataItemLocalized"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "pagination": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer",
                    "minimum": 25
                  },
                  "pageCount": {
                    "type": "integer",
                    "maximum": 1
                  },
                  "total": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "BundleDetailPageListResponseDataItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/BundleDetailPage"
          }
        }
      },
      "BundleDetailPageListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleDetailPageListResponseDataItem"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "pagination": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer",
                    "minimum": 25
                  },
                  "pageCount": {
                    "type": "integer",
                    "maximum": 1
                  },
                  "total": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "BundleDetailPage": {
        "type": "object",
        "properties": {
          "bundleDetail": {
            "$ref": "#/components/schemas/SharedBundleDetailComponent"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "username": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "resetPasswordToken": {
                        "type": "string"
                      },
                      "registrationToken": {
                        "type": "string"
                      },
                      "isActive": {
                        "type": "boolean"
                      },
                      "roles": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "code": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "users": {
                                      "type": "object",
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "number"
                                              },
                                              "attributes": {
                                                "type": "object",
                                                "properties": {}
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "permissions": {
                                      "type": "object",
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "number"
                                              },
                                              "attributes": {
                                                "type": "object",
                                                "properties": {
                                                  "action": {
                                                    "type": "string"
                                                  },
                                                  "subject": {
                                                    "type": "string"
                                                  },
                                                  "properties": {},
                                                  "conditions": {},
                                                  "role": {
                                                    "type": "object",
                                                    "properties": {
                                                      "data": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "number"
                                                          },
                                                          "attributes": {
                                                            "type": "object",
                                                            "properties": {}
                                                          }
                                                        }
                                                      }
                                                    }
                                                  },
                                                  "createdAt": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  },
                                                  "updatedAt": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  },
                                                  "createdBy": {
                                                    "type": "object",
                                                    "properties": {
                                                      "data": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "number"
                                                          },
                                                          "attributes": {
                                                            "type": "object",
                                                            "properties": {}
                                                          }
                                                        }
                                                      }
                                                    }
                                                  },
                                                  "updatedBy": {
                                                    "type": "object",
                                                    "properties": {
                                                      "data": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "number"
                                                          },
                                                          "attributes": {
                                                            "type": "object",
                                                            "properties": {}
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "updatedAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "createdBy": {
                                      "type": "object",
                                      "properties": {
                                        "data": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "number"
                                            },
                                            "attributes": {
                                              "type": "object",
                                              "properties": {}
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "updatedBy": {
                                      "type": "object",
                                      "properties": {
                                        "data": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "number"
                                            },
                                            "attributes": {
                                              "type": "object",
                                              "properties": {}
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "blocked": {
                        "type": "boolean"
                      },
                      "preferedLanguage": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      },
                      "updatedBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "updatedBy": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "localizations": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BundleDetailPage"
                }
              }
            }
          },
          "locale": {
            "type": "string"
          }
        }
      },
      "BundleDetailPageResponseDataObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/BundleDetailPage"
          }
        }
      },
      "BundleDetailPageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BundleDetailPageResponseDataObject"
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "SharedBundleDetailComponent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "overwritePriceText": {
            "type": "string"
          },
          "buttonText": {},
          "chooseYourRoomText": {
            "type": "string"
          }
        }
      },
      "CartLocalizationRequest": {
        "required": [
          "locale"
        ],
        "type": "object",
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/SharedInvoiceComponent"
          },
          "locale": {
            "type": "string"
          }
        }
      },
      "CartRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "invoice": {
                "$ref": "#/components/schemas/SharedInvoiceComponent"
              },
              "locale": {
                "type": "string"
              }
            }
          }
        }
      },
      "CartResponseDataObjectLocalized": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/Cart"
          }
        }
      },
      "CartLocalizationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CartResponseDataObjectLocalized"
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "CartListResponseDataItemLocalized": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/Cart"
          }
        }
      },
      "CartLocalizationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartListResponseDataItemLocalized"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "pagination": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer",
                    "minimum": 25
                  },
                  "pageCount": {
                    "type": "integer",
                    "maximum": 1
                  },
                  "total": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "CartListResponseDataItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "attributes": {
            "$ref": "#/components/schemas/Cart"
          }
        }
      },
      "CartListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartListResponseDataItem"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "pagination": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer",
                    "minimum": 25
                  },
                  "pageCount": {
                    "type": "integer",
                    "maximum": 1
                  },
                  "total": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "Cart": {
        "type": "object",
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/SharedInvoiceComponent"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "username": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "resetPasswordToken": {
                        "type": "string"
                      },
                      "registrationToken": {
                        "type": "string"
                      },
                      "isActive": {
                        "type": "boolean"
                      },
                      "roles": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "code": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "users": {
                                      "type": "object",
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "number"
                                              },
                                              "attributes": {
                                                "type": "object",
                                                "properties": {}
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "permissions": {
                                      "type": "object",
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "number"
                                              },
                                              "attributes": {
                                                "type": "object",
                                                "properties": {
                                                  "action": {
                                                    "type": "string"
                                                  },
                                                  "subject": {
                                                    "type": "string"
                                                  },
                                                  "properties": {},
                                                  "conditions": {},
                                                  "role": {
                                                    "type": "object",
                                                    "properties": {
                                                      "data": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "number"
                                                          },
                                                          "attributes": {
                                                            "type": "object",
                                                            "properties": {}
                                                          }
                                                        }
                                                      }
                                                    }
                                                  },
                                                  "createdAt": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  },
                                                  "updatedAt": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  },
                                                  "createdBy": {
                                                    "type": "object",
                                                    "properties": {
                                                      "data": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "number"
                                                          },
                                                          "attributes": {
                                                            "type": "object",
                                                            "properties": {}
                                                          }
                                                        }
                                                      }
                                                    }
                                                  },
                                                  "updatedBy": {
                                                    "type": "object",
                                                    "properties": {
                                                      "data": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "number"
                                                          },
                                                          "attributes": {
                                                            "type": "object",
                                                            "properties": {}
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "updatedAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "createdBy": {
                                      "type": "object",
                                      "properties": {
                                        "data": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "number"
                                            },
                                            "attributes": {
                                              "type": "object",
                                              "properties": {}
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "updatedBy": {
                                      "type": "object",
                                      "properties": {
                                        "data": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "number"
                                            },
                                            "attributes": {
                                              "type": "object",
                                              "properties": {}
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "blocked": {
                        "type": "boolean"
                      },
                      "preferedLanguage": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        }
                      },
                      "updatedBy": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
[...]
