@import '../../../styles/variable';

.iconStyle {
  padding: 0 !important;
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 9999;
  background-color: $color-Main;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  &:hover {
    animation: none;
    background-color: #3a6ea5;
    color: white;
  }
}
