/******* color variable *****/
$color-black: #0e1013;
$color-white: #ffffff;
$color-NeutralGrey: #fafafa;
$color-DarkGrey: '#1D1F20';
$color-Main: #20272c;
$color-MainBacground: rgba(32, 39, 44, 0.04);
$color-Divider: #b9c0c5;
$color-Blue: #3a6ea5;
$color-DarkBlue: #2d5185;
$color-Warning: #fc9403;
$color-WarningHover: #d88006;
$color-Surface: #edeff2;
$color-tonal: #eff0f0;

$color-LightGrey: rgba(0, 0, 0, 0.25);

/** tag colors **/
$tag-default: #cacaca;
$tag-dark: #20272c;
$tag-dark-bg: #d4d4d4;
$tag-dark-border: #6d7275;
$tag-primary: #1677ff;
$tag-primary-border: #91caff;
$tag-primary-bg: #e6f4ff;
$tag-success-border: #b7eb8f;
$tag-success-bg: #f6ffed;
$tag-success: #52c41a;
$tag-warning-border: #ffe58f;
$tag-warning-bg: #fffbe6;
$tag-warning: #faad14;
$tag-danger-border: #ffccc7;
$tag-danger-bg: #fff2f0;
$tag-danger: #ff4d4f;

/** date base color **/
$date-yellow: #feb148;
$date-teal: #2ca3a8;
$date-orage: #fd6040;

/******* text variable *****/
$text-base: 16px;
