.heading2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.body1 {
  color: #2e3134;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
