// .topBorder {
//   border-top: solid 1px rgb(0 0 0 / 0.1);
// }

.botBorder {
  border-bottom: solid 1px;
}

// .borderTopBot {
//   border-bottom: solid 1px rgb(0 0 0 / 0.1);
//   border-top: solid 1px rgb(0 0 0 / 0.1);
// }

.contactText {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.textSm {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
