.room-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 10px;

  .room-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .room-media {
    // flex-grow: 1;
  }

  .room-overview {
    flex-grow: 1;
  }

  .room-content {
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;

    &.open {
      max-height: 100vh;
    }
  }

  .detail-btn {
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    transition: border 0.3s ease, background-color 0.3s ease;

    &.open {
      border: 1px solid;
    }
  }
}

.image-box-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .image-overview {
  }

  .image-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    overflow-x: hidden;

    position: relative;

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 20px;
      position: absolute;
      left: 0;
      transition: left 0.3s ease;
    }

    &__chevron-left,
    &__chevron-right {
      position: absolute;
      height: 100%;
      width: 20px;
      background-color: rgba($color: #000000, $alpha: 0.3);
      z-index: 9;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.6);
      }
    }

    &__chevron-left {
      left: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &__chevron-right {
      right: 0;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

.service-badge {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.price-badge {
  border-radius: 5px;
}
